## TeamSL Einstellungen
TEAM_SL_USERNAME=your_username  # Benutzername eines SR-Ansetzer Accounts
TEAM_SL_PASSWORD=your_password  # Passwort eines SR-Ansetzer Accounts
TEAM_SL_VERBAND_ID=your_verbandsid  # Setze Verbands-ID für Filter, zB 3 für Berlin oder 7 für NDS

## MySQL Datenbank Einstellungen
DATABASE_SERVER=127.0.0.1  
DATABASE_PORT=3306 
DATABASE_USER=user
DATABASE_PASSWORD=pass
DATABASE=db

## Backend Einstellungen
NODE_ENV=development
PORT=3000

## Kommunikation Frontend <-> Backend
JWT_SECRET=your-jwt-secret  # Setze ein beliebiges Secret

## Mailversand Einstellungen
UNIX_SENDMAIL=true||false  # FALSE = Benutze SMTP Server; TRUE = Benutze SENDMAIL
MAILER_USER=my_mail@example.com  # Versand E-Mail Adresse

MAILER_HOST=example.com  # SMTP Server
MAILER_PORT=your_port||25|465|587  # SMTP Port
MAILER_SECURE=false||true  # Verbindung verschlüsselt?
MAILER_USER=your_username  # SMTP Username
MAILER_PASS=your_pass  #  SMTP User Password

## Frontend Einstellungen
FRONTEND_URL=https://srbasar.de  # URL deiner Seite; WICHTIG: Kein 'trailing slash'!
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
