# .env file

# NODE_ENV specifies the environment in which the application is running.
# This is typically set to 'development', 'production', or 'test'.
NODE_ENV=production

# MONGO_DB_NAME is the name of the MongoDB database that the application connects to.
MONGO_DB_NAME=spielebasar

# PORT is the port number that the application listens on.
PORT=3000

# DEV_PORT is the port number that the application listens on in development mode.
DEV_PORT=3000

# MONGO_URL is the connection string for the MongoDB database.
MONGO_URL=mongodb://user:pass@localhost:27017/spielebasar

# SECRET is the secret key used for signing and verifying JWT tokens for authentication.
SECRET=MY-SECRET-VERY-SAFE

# MAILER_USER is the username used for the mailer service.
MAILER_USER=no-reply@example.de

# MAILER_PASS is the password used for the mailer service.
MAILER_PASS=super-safe

# MAILER_PORT is the port number used for the mailer service.
MAILER_PORT=587

# MAILER_HOST is the host used for the mailer service.
MAILER_HOST=example.de